
body {
    background-color: #3c3f41;
    color: #87939a;
}

input, textarea, button {
    background-color: #2b2b2b;
    color: #87939a;
    border: none;
}

button:disabled,
button[disabled]{
  display: none;
}

#messages {
    background-color: #2b2b2b;
    width: 80ch;
    height: 30ch;
    overflow: scroll;
    scroll-snap-align: end;
    font-family: Monospace;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.logo {
    font-size: 50px;
    margin: 0px;
    font-family: Arial;
}

#messageText {
    overflow-y: scroll;
    font-family: Monospace;
    width: 80ch;
    height: 50ch;
}