
body {
    background-color: #333333;
    color: #d4d4d4;
}

input, textarea, button {
    background-color: #1e1d1d;
    color: #d4d4d4;
    border: none;
}

button:disabled,
button[disabled]{
  display: none;
}

#messages {
    background-color: #1e1d1d;
    width: 81ch;
    height: 30ch;
    overflow: scroll;
    scroll-snap-align: end;
    font-family: Monospace;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.logo {
    font-size: 50px;
    margin: 0px;
    font-family: Arial;
}

#messageText {
    overflow-y: scroll;
    font-family: Monospace;
    width: 80ch;
    height: 50ch;
}

#monaco_editor {
    width: 80ch;
    height: 400px;
}

.myGlyphMarginClass {
	background: red;
}
.myContentClass {
	background: #7d2f2f;
}
